.brand-logo {
    height: 54px;
    top: 5px;
    filter: drop-shadow(0 0 0.5rem #121212b3);
}

.nav-bg {
    width: 100%;
    transform: scale(1.1);
    filter: blur(5px) brightness(70%);
}

.auth {
    display: none;
}

@media all and (max-width: 600px) {
    .brand-logo {
        height: 46px;
        top: 5px;
    }
}
