@import url('https://fonts.googleapis.com/css?family=Lato');

html {
    font-family: 'Lato', sans-serif;
}

html, body, main {
    height: 100%;
}

.auth {
    display: none;
}

.bottom-bar {
    bottom: 0;
}

.brand-logo {
    height: 54px;
    top: 5px;
    filter: drop-shadow(0 0 0.5rem #121212b3);
}

.hidden {
    display: none;
}

.nav-bg {
    width: 100%;
    transform: scale(1.1);
    filter: blur(5px) brightness(70%);
}

.parallax-bg {
    width: 100%;
    filter: brightness(70%);
    transform: scale(1.1) translate3d(-50%, 0px, 0px) !important;
}

.tabs-content {
    height: auto !important;
}

.top-bar h2, .top-bar h5 {
    width: 100%;
}

.top-bar {
    padding: 40px 0;
}


.stepper {
    padding: 10px 0;
}

.step-header {
    height: 48px;
    display: flex;
    padding: 12px 0;
    flex-wrap: nowrap;
    flex-direction: row;
    transition: 0.5s opacity,filter ease-in-out;
}

.step-header:hover {
    opacity: 0.8;
    cursor: pointer;
    filter: grayscale(20%);
    background-color: rgba(0, 0, 0, 0.2);
}

.step-content {
    padding: 10px 20px;
    margin-left: 21.5px;
}

.step-content:not(.last) {
    border-left: 1px solid #BDBDBD;
}

.step-number {
    width: 24px;
    height: 24px;
    margin: 0 10px;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    border-radius: 100%;
    background-color: #4CAF50;
}

.stepper > .step:not(:first-child) .step-content {
    display: none;
}

@media all and (max-width: 600px) {
    .brand-logo {
        height: 46px;
        top: 5px;
    }
}

@media all and (max-width: 650px) {
    .parallax-bg {
        width: auto;
        height: 100%;
    }
}