<div [class.container]="isPage">
  <h3 mat-dialog-title *ngIf="!isPage">Create New Config</h3>
  <h3 *ngIf="isPage">Create New Config</h3>
  <div mat-dialog-content>
    <form [formGroup]="newConfig">
      <mat-accordion>
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Config Name
            </mat-panel-title>
            <mat-panel-description>
              The name of the new configuration.
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <mat-form-field [floatLabel]="newConfig.value.floatLabel">
              <mat-label>Name</mat-label>
              <input matInput formControlName="newConfigNameControl" required>
              <mat-error>Please a config name!</mat-error>
            </mat-form-field>
            <mat-action-row>
              <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>
          </ng-template>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="step === 1" [disabled]="!checkValidation(0)" (opened)="setStep(1)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Group Name
            </mat-panel-title>
            <mat-panel-description>
              The new configuration's inital group name.
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <mat-form-field [floatLabel]="newConfig.value.floatLabel">
              <mat-label>Group Name</mat-label>
              <input matInput formControlName="newGroupNameControl" required>
              <mat-error>Please enter a inital group name!</mat-error>
            </mat-form-field>
            <mat-action-row>
              <button mat-button color="warn" (click)="prevStep()">Previous</button>
              <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>
          </ng-template>
        </mat-expansion-panel>
        <mat-expansion-panel [class.overflow-limit]="!isPage" [disabled]="!checkValidation(1)" [expanded]="step === 2" (opened)="setStep(2)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              First Rule
            </mat-panel-title>
            <mat-panel-description>
              The new configuration's inital group's first rule.
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <app-new-rule-stepper (valueChange)="stepperFinished($event)" ></app-new-rule-stepper>
            <mat-action-row>
              <button mat-button color="warn" (click)="prevStep()">Previous</button>
            </mat-action-row>
          </ng-template>
        </mat-expansion-panel>
      </mat-accordion>
    </form>
    <br>
  <div mat-dialog-actions>
    <button mat-button (click)="create()" [disabled]="!finished">Create</button>
    <button mat-button (click)="close()">Cancel</button>
  </div>
</div>