<div *ngIf="configLoaded | async; else loadingConfig">
  <h3 mat-dialog-title *ngIf="!isPage">Editing Config - {{ config.name | unNamed }}</h3>
  <h3 *ngIf="isPage">Editing Config - {{ config.name | unNamed }}</h3>
  <div mat-dialog-content>
    <mat-form-field class="full-width">
      <input matInput placeholder="Config Name" [(ngModel)]="config.name" required>
    </mat-form-field>
    <h4>
      Group's
      <button mat-icon-button class="right" color="primary" matTooltip="Add Group" (click)="addGroup()">
        <mat-icon aria-label="Add Group">add</mat-icon>
      </button>
    </h4>
    <div style="padding: 10px 16px;" class="overflow-limit">
        <mat-expansion-panel  *ngFor="let group of config.groups">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ group.name | unNamed }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent class="overflow-limit">
            <mat-form-field class="full-width">
                <input matInput placeholder="Group Name" [(ngModel)]="group.name" required>
            </mat-form-field>
            <div class="full-width">
              <mat-form-field style="width: 70%;">
                <input matInput type="text" placeholder="From" [value]="group.source.name" disabled required/>
                <button mat-button matSuffix mat-icon-button aria-label="Pick From Folder" [disabled]="group.source.folderID === 'root'" (click)="openFolderPicker(group.id ,'source')">
                  <mat-icon>folder</mat-icon>
                </button>
              </mat-form-field>
              <mat-slide-toggle (change)="rootToggleChange($event, 'source', group.id)" [checked]="group.source.folderID === 'root'">My Drive</mat-slide-toggle>
            </div>
            <div>
              <div class="row">
                  <mat-slide-toggle class="col-6" (change)="createFolderToggleChange(group.id, $event)" [checked]="group.createFolder">Create Folder</mat-slide-toggle>
                  <mat-slide-toggle class="col-6" (change)="renameUntitledChange(group.id, $event)" [checked]="group.source.renameUntitled" matTooltip="Rename's untitled files to the sorting date">Rename Untitled Files</mat-slide-toggle>
              </div>
              <app-folder-creation *ngIf="group.createFolder" [inputFolder]="group.createFolder" (valueChange)="createFolderChange(group.id, $event)"></app-folder-creation>
              <div class="full-width" *ngIf="!group.createFolder">
                <div class="full-width">
                  <mat-form-field style="width: 70%;">
                    <input matInput type="text" placeholder="To" [value]="group.destination.name" disabled required/>
                    <button mat-button matSuffix mat-icon-button aria-label="Pick To Folder" [disabled]="group.destination.folderID === 'root'" (click)="openFolderPicker(group.id, 'destination')">
                      <mat-icon>folder</mat-icon>
                    </button>
                  </mat-form-field>
                  <mat-slide-toggle (change)="rootToggleChange($event, 'destination', group.id)" [checked]="group.destination.folderID === 'root'">My Drive</mat-slide-toggle>
                </div>
              </div>
            </div>
            <h5>
              Rule's
              <button mat-icon-button class="right" color="accent" matTooltip="Add Rule" (click)="addRule(group.id)">
                <mat-icon aria-label="Add Rule">add</mat-icon>
              </button>
            </h5>
            <mat-expansion-panel [expanded]="editingRuleID === rule.id" (opened)="editingRuleID = rule.id" *ngFor="let rule of group.rules">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ rule.name | unNamed }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <app-new-rule-stepper (valueChange)="ruleChanged($event, rule.id, group.id)" [reset]="true" [inputRule]="rule"></app-new-rule-stepper>
                <mat-action-row>
                  <button mat-button color="warn" (click)="removeRule(group.id, rule.id)" [disabled]="group.rules.length < 2">Remove Rule</button>
                </mat-action-row>
              </ng-template>
            </mat-expansion-panel>
            <mat-action-row>
              <button mat-button color="warn" (click)="removeGroup(group.id)" [disabled]="config.groups.length < 2">Remove Group</button>
            </mat-action-row>
          </ng-template>
        </mat-expansion-panel>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button [disabled]="!valid" (click)="done()">Done</button>
    <button mat-button (click)="close()">Cancel</button>
  </div>
</div>
<ng-template #loadingConfig>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>