<div class="header">
  <span style="font-size: 2rem;">Configuration's</span>
  <span class="right refresh-button" >
    <button mat-icon-button color="accent" (click)="openPresets()" matTooltip="Preset Config's" matTooltipPosition="left">
      <mat-icon aria-label="Presets list">list</mat-icon>
    </button>
    <button mat-icon-button color="accent" (click)="refreshConfigs()" matTooltip="Refresh Config's" matTooltipPosition="right">
      <mat-icon aria-label="Refresh configurations">refresh</mat-icon>
    </button>
  </span>
</div>
<div *ngIf="loading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div [hidden]="noConfigs">
  <mat-table #table [dataSource]="dataSource">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let config">{{config.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell class="right" *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell class="right" *matCellDef="let config">
        <button mat-icon-button color="accent" matTooltip="Edit Config" (click)="editConfig(config.key)">
          <mat-icon aria-label="Edit Config">edit</mat-icon>
        </button>
        <button mat-icon-button color="primary" matTooltip="Set Active" (click)="setActiveConfig(config.key)" [disabled]="getActiveConfig(config.key)">
          <mat-icon aria-label="Make Config Active">settings_power</mat-icon>
        </button>
        <button mat-icon-button color="warn" matTooltip="Delete config" (click)="deleteConfig(config.key)">
          <mat-icon aria-label="Delete Config">delete_forever</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: tableColumns;"></mat-row>
  </mat-table>
  
  <mat-paginator #paginator
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]"
    [showFirstLastButtons]="true">
  </mat-paginator>
</div>
<p *ngIf="noConfigs">You have no configurations try creating one!</p>