.right {
    float: right;
    text-align: right;
    justify-content: end;
}

.refresh-button {
    align-self: center;
}
.header {
    display: flex;
    padding: 15px 0;
    justify-content: space-between;
}