mat-toolbar > mat-toolbar-row:first-child {
  justify-content: center;
}

mat-toolbar > mat-toolbar-row:first-child > div {
  flex: 1;
}

mat-toolbar > mat-toolbar-row:first-child > div:nth-child(2) {
  text-align: center;
}

mat-toolbar > mat-toolbar-row:first-child > div:nth-child(3) {
  text-align: right;
}

.toolbar-logo {
  width: 65px;
}

nav.mat-tab-nav-bar {
  width: 100%;
}

::ng-deep .mat-tab-links {
  display: flex;
}

.mat-tab-link {
  flex: 1 1 auto;
}

$fab-spacing: 20px;

.new-config-button {
    right: $fab-spacing;
    bottom: $fab-spacing;
    position: fixed;
}