.parallax {
  height: 50%;
  padding: 10vw;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url('../../../../assets/images/messy_files.jpg');
}

.parallax > * {
  color: white;
}

.usage-points h1 i {
  font-size: 80px;
}

.container {
  width: 96%;
  max-width: unset;
}

.usage-points p {
  font-size: 1.5rem;
}

@media all and (max-width: 650px) {
}
