<div parallax>
  <div class="parallax-overlay">
    <h1>G-Drive Sorter</h1>
    <h3>An organized Google Drive™ has never been easier</h3>
    <button (click)="login()" mat-raised-button color="accent">Get Organized</button>
  </div>
</div>
<div class="container">
  <div class="usage-points row">
    <div class="col-4 col-12-sm">
      <h1 class="center"><i class="teal-text large material-icons">view_list</i></h1>
      <h2 class="center"><b>Effectively Sort Files</b></h2>
      <p>Sorting your drive only requires a quick visit to this website. And we do the rest of the work for you!</p>
    </div>
    <div class="col-4 col-12-sm">
      <h1 class="center"><i class="teal-text large material-icons">accessibility</i></h1>
      <h2 class="center"><b>Simplistic Use</b></h2>
      <p>Preset configurations and a simplistic user interface makes the G-Drive sorter suitable for all Google Drive users.</p>
    </div>
    <div class="col-4 col-12-sm">
      <h1 class="center"><i class="teal-text large material-icons">art_track</i></h1>
      <h2 class="center"><b>Fully Customizable</b></h2>
      <p>Fully customizable configurations that sorts all Google Drive files based on type, creation date, name, current owner, and much more.</p>
    </div>
  </div>
</div>
