@import url('https://fonts.googleapis.com/css?family=Lato');

#configuration-link-button {
  padding: 0 32px;
}

#button-create-configuration {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

#config-stepper {
  box-shadow: unset !important;
}

html {
    font-family: 'Lato', sans-serif;
}

html, body, main {
    height: 100%;
}

.collapsible-body li {
  padding: 0 20px !important;
}

.auth {
    display: none;
}

.bottom-bar {
    bottom: 0;
}

.brand-logo {
    height: 54px;
    top: 5px;
}

.hidden {
    display: none;
}

.nav-bg {
    width: 100%;
    transform: scale(1.1);
    filter: blur(5px) brightness(70%);
}

.picker, .timepicker-modal {
  z-index: 10000 !important;
}

.parallax-bg {
    width: 100%;
    filter: brightness(70%);
    transform: scale(1.1) translate3d(-50%, 0px, 0px) !important;
}

.tabs-content {
    height: auto !important;
}

.top-bar h2, .top-bar h5 {
    width: 100%;
}

.top-bar {
    padding: 40px 0;
}

@media all and (max-width: 600px) {
    .brand-logo {
        height: 46px;
        top: 5px;
    }
}

@media all and (max-width: 650px) {
    .parallax-bg {
        width: auto;
        height: 100%;
    }
}
