<div [class.container]="isPage">
  <h3 mat-dialog-title>Create New Config</h3>
  <div mat-dialog-content>
    <form [formGroup]="newConfig">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            Config Name
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <mat-form-field [floatLabel]="newConfig.value.floatLabel">
              <mat-label>Name</mat-label>
              <input matInput formControlName="newConfigNameControl" required>
              <mat-error>Please a config name!</mat-error>
            </mat-form-field>
          </ng-template>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            Group Name
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <mat-form-field [floatLabel]="newConfig.value.floatLabel">
              <mat-label>Group Name</mat-label>
              <input matInput formControlName="newGroupNameControl" required>
              <mat-error>Please enter a inital group name!</mat-error>
            </mat-form-field>
          </ng-template>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            First Rule
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <app-new-rule-stepper></app-new-rule-stepper>
          </ng-template>
        </mat-expansion-panel>
      </mat-accordion>
    </form>
    <br>
  </div>
  <div mat-dialog-actions>
    <button mat-button>Create</button>
    <button mat-button (click)="close()">Cancel</button>
  </div>
</div>